/** CSS STYLE **/
:root {
  --text-color: #31393c;
  --bg-color: #9ca777;
  --bg-grid-color: #ffffff;
  --bg-darken-color: #7c9070;
  --text-orange-color: #f97b22;
  --black-color: #000000;
  --cell: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: var(--text-color);
  background: #3ca55c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b5ac49, #3ca55c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b5ac49,
    #3ca55c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', system-ui, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.field {
  flex: 1;
  margin-top: 20px;
  &__wrapper {
    display: flex;
    justify-content: center;
  }
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 64px;
  text-align: center;
}

.logo {
  width: 64px;
  height: 64px;
  margin-right: 5px;
}

.header {
  &__logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

.grid {
  background: var(--bg-grid-color);
  width: 644px;
  height: 644px;
  border: 2px solid var(--bg-darken-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 7rem;
}

.btn {
  margin-bottom: 25px;
  border: none;
  outline: none;
  padding: 10px 0;
  border-radius: 5px;
  color: var(--text-color);
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-out;
  border: 2px solid var(--bg-darken-color);
  background: #fee8b0;
  width: 200px;
  font-weight: 500;
}

.btn:hover,
.btn:active {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  color: var(--text-orange-color);
}

.select-color-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.select-color-label {
  font-size: 18px;
  margin-bottom: 1rem;
}

.select-color {
  width: 128px;
  height: 128px;
  border: none;
  outline: none;
  transition: box-shadow .3s ease-in-out;
}

.select-color:hover,
.select-color:active {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
}

.range-box {
  display: flex;
  flex-direction: column;
}

.range-box label {
  margin-bottom: 15px;
}

.current-range {
  margin-top: 15px;
}

.range-box {
  margin-bottom: 15px;
}

.footer {
  background: var(--bg-color);
}

.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link {
  display: block;
  position: relative;
  margin-right: 5px;
  text-decoration: none;
  color: var(--text-color);
}

.footer__link::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -28px;
  width: 24px;
  height: 24px;
  background: url('../svg/github.svg') no-repeat;
}

.cell {
  box-sizing: border-box;
  flex: 1 1 var(--cell);
}

.border-active {
  border-left: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

@media screen and (max-width: 1400px) {
  .wrapper {
    width: 80%;
  }

  .field__wrapper {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 1070px) {
  .controls {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 980px) {
  .field__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .controls {
    margin-right: 0;
  }
}
